<div class="footer">
  <!-- Image -->
  <div class="JS">
    <img style="width: 250px" src="../../assets/img/JR-light.png" alt="" />
    <p style="width: 292px">
      "Jesus Christ is the same yesterday, today and forever more."
    </p>
    <p style="font-size: 12px">Hebrews 13:8</p>
    <div class="fabs">
      <ion-fab-button
        href="https://www.facebook.com/JoyousRadio/"
        target="_blank"
        color="dark"
      >
        <ion-icon color="primary" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <div class="s"></div>
      <ion-fab-button
        href="https://twitter.com/JoyousRadio"
        target="_blank"
        color="dark"
      >
        <ion-icon color="primary" name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <!-- Quick Links -->
  <div class="quickLinks">
    <h2>Quick Links</h2>
    <ion-item lines="none" (click)="onClick('home')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Home </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('about')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> About </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('donate')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Donate </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('church')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Church </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('gallery')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Gallery </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('contact')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Contact Us </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onClick('listen')">
      <ion-icon name="chevron-forward" color="light"></ion-icon>
      <ion-label> Listen Live </ion-label>
    </ion-item>
  </div>
  <!-- Contact Info -->
  <div class="contactInfo">
    <h2>Contact Info</h2>
    <ion-item lines="none">
      <ion-icon
        name="call"
        lines="none"
        color="light"
        slot="start"
      ></ion-icon>
      <ion-label> 087 943 8100 </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon
        name="call"
        lines="none"
        color="light"
        slot="start"
      ></ion-icon>
      <ion-label> 086 502 3213 </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon
        name="send"
        lines="none"
        color="light"
        slot="start"
      ></ion-icon>
      <ion-label> admin@joyousradio.co.za </ion-label>
    </ion-item>
  </div>
  <div class="ll">
    <ion-text color="light">
      <p>Copyright ©2021 All rights reserved | This website is designed by Keketso Matsuma</p>
    </ion-text>
  </div>
</div>