<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20">
    <div class="navigation" [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="" />
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover about">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
          style="transform: translateY(-9px)"
        >
          Listen Live
        </ion-button>
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover about">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
        >
          Listen Live
        </ion-button>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="text">
      <h1><span>Joyous</span> Radio</h1>
      <p>Home > Joyous Radio</p>
    </div>
  </div>
  <div class="body">
    <div class="subHeader">
      <div class="line"></div>
      <p>about</p>
      <div class="line"></div>
    </div>
    <h2> <span>Joyous</span>  Radio</h2>
    <br />
    <br />
    <br />
    <div class="content">
      <div class="information">
        <!-- Inside Studio -->
        <div class="img">
          <img src="../../assets/img/gallery/image002.jpg" alt="" />
        </div>
        <br />
        <p>
          <b>Joyous Radio</b> is part of the UAFC–HOPE to You Church, which is a
          Non-Profit Organization, based in Dube Village, Soweto, South Africa.
          Joyous Radio was launched on the 18th of July 2011, in celebration of
          the Nelson Mandela Day.
        </p>
        <p>
          The founding members of Joyous Radio are Pastor Sipho Mahlangu and his
          wife Nthabiseng Mahlangu. Sipho and Nthabiseng took Christ literally
          when He said in Mark 16:15, “Go into all the world and preach the
          gospel to all creation”. They both are READY to spread the Word of
          God, heal the sick by the Power of the Holy Spirit, help and encourage
          others. Their mission is a God-birthed passion to bring people into a
          vital saving relationship with Jesus Christ. Sipho has been
          evangelizing on the radio since the year 2010. His aim in life is to
          bring glory to his Lord and Saviour Jesus Christ by being a faithful
          witness of Him.
        </p>
        <p>
          Joyous Radio is a member of the National Community Radio Forum, the
          national organizing body in South Africa. Joyous Radio is also a
          member of the Association of Christian Media. </p><p> The on-air programs
          cater to a wide range of listeners. The daily morning and afternoon
          drive programs are entertaining yet informative and often include
          interviews on a broad spectrum of community issues.
        </p>
        <!-- Logo -->
        <div class="imageee">
          <img src="../../assets/img/gallery/h.jpg" alt="" />
        </div>
        <p style="text-align: center">
          <span>
            The Christian internet radio that restores our hearts and comfort
            our souls</span
          >
        </p>
        <div class="listen">
          <p>
            To listen live click
          </p> &nbsp; &nbsp;
          <ion-button routerLink="/listen" mode="ios" expand="block" shape="round">
            Here
          </ion-button>
        </div>
      </div>
      <div class="parties">
        <h2>Founding Members:</h2>
        <div class="item">
          <div class="img">
            <img src="../../assets/img/gallery/pastor.jpg" alt="" />
          </div>
          <div class="title">
            <p>PR SS Mahlangu</p>
          </div>
        </div>
        <div class="item">
          <div class="img">
            <img src="../../assets/img/gallery/wife.jpg" alt="" />
          </div>
          <div class="title">
            <p>PR N Mahlangu</p>
          </div>
        </div>
        <h2>Our Mission</h2>
        <p style="margin: 0px; text-align: left">
          To create compelling media that inspires and encourages you to have a
          meaningful relationship with Christ.
        </p>
      </div>
    </div>
  </div>
  <app-block-quote></app-block-quote>
  <app-footer></app-footer>
</ion-content>
