<ion-content>
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20;">
    <div class="navigation " [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="">
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div  class="linkHover">
          <ion-button (click)="onClick('home')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Home
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('about')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            About
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('donate')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Donate
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('church')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Church
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('gallery')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Gallery
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('contact')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Contact Us
          </ion-button>
        </div>
        <!-- <ion-button (click)="onClick('listen')" mode="ios" expand="full" shape="round">
          Listen Live
        </ion-button> -->
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div  class="linkHover">
          <ion-button (click)="onClick('home')" size="small" expand="full" color="dark" fill="clear" >
            Home
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('about')" size="small" expand="full" color="dark" fill="clear" >
            About
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('donate')" size="small" expand="full" color="dark" fill="clear" >
            Donate
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('church')" size="small" expand="full" color="dark" fill="clear" >
            Church
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('gallery')" size="small" expand="full" color="dark" fill="clear" >
            Gallery
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('contact')" size="small" expand="full" color="dark" fill="clear" >
            Contact Us
          </ion-button>
        </div>
        <!-- <ion-button (click)="onClick('listen')" mode="ios"  expand="full" shape="round">
          Listen Live
        </ion-button> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div #imageBG class="slide1Container">
      <div class="content">
        <div class="interactions">
          <!-- <button class="button" (click)="browseImages('prev')">
              <ion-icon name="play-back"></ion-icon>
          </button> -->
          <button (click)="playSong()" [ngClass]="{'playing buttonAnimation': playing}">
              <ion-icon [name]="playing ? 'pause':'play'"></ion-icon>
          </button>
        </div>
        <br>
      
      <br>
        <h2>Listening to <span> <br> Joyous Radio</span> </h2>
      </div>
    </div>
  </div>
</ion-content>
