<ion-content  [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20;">
    <div class="navigation " [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="">
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
    
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div  class="linkHover">
          <ion-button (click)="onClick('home')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Home
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('about')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            About
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('donate')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Donate
          </ion-button>
        </div>
        <div  class=" linkHover church">
          <ion-button (click)="onClick('church')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Church
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('gallery')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Gallery
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('contact')" size="small" expand="full" color="{{light? 'dark': 'light'}}" fill="clear" >
            Contact Us
          </ion-button>
        </div>
        <ion-button (click)="onClick('listen')" mode="ios" expand="full" shape="round" style="transform: translateY(-9px);">
          Listen Live
        </ion-button>
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div  class="linkHover">
          <ion-button (click)="onClick('home')" size="small" expand="full" color="dark" fill="clear" >
            Home
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('about')" size="small" expand="full" color="dark" fill="clear" >
            About
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('donate')" size="small" expand="full" color="dark" fill="clear" >
            Donate
          </ion-button>
        </div>
        <div class=" linkHover church">
          <ion-button (click)="onClick('church')" size="small" expand="full" color="dark" fill="clear" >
            Church
          </ion-button>
        </div>
        <div  class=" linkHover">
          <ion-button (click)="onClick('gallery')" size="small" expand="full" color="dark" fill="clear" >
            Gallery
          </ion-button>
        </div>
        <div class=" linkHover">
          <ion-button (click)="onClick('contact')" size="small" expand="full" color="dark" fill="clear" >
            Contact Us
          </ion-button>
        </div>
        <ion-button (click)="onClick('listen')" mode="ios"  expand="full" shape="round">
          Listen Live
        </ion-button>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="text">
      <h1><span>Joyous Radio</span> and UAFC HOPE to You</h1>
      <p>Home > Church</p>
    </div>
  </div>
  <div class="body">
    <div class="subHeader">
      <div class="line"></div>
      <p>COLLABORATION

      </p>
      <div class="line"></div>
    </div>
    <h2><span>UAFC </span>HOPE to You</h2>
    <p>Joyous Radio is part of the UAFC HOPE to You Church,which is a Non-Profit Organization, based in Soweto.</p>
      <div class="btn">
        <ion-button href="http://uafcdube.org.za/about.html" target="_blank" mode="ios" expand="block" shape="round">
          Go to UAFC HOPE to You Website
        </ion-button>
      </div>
  </div>
  <app-block-quote></app-block-quote>
  <app-footer></app-footer>
</ion-content>
