<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20">
    <div class="navigation" [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="" />
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover contactUs">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
          style="transform: translateY(-9px)"
        >
          Listen Live
        </ion-button>
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover contactUs">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
        >
          Listen Live
        </ion-button>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="text">
      <h1>Contact <span>Us</span></h1>
      <p>Home > Contact Us</p>
    </div>
  </div>
  <div class="body">
    <div class="subHeader">
      <div class="line"></div>
      <p>contact us

      </p>
      <div class="line"></div>
    </div>
    <h2><span>Joyous</span> Radio</h2>
    <div class="cont">
      <div class="contactInfo">
        <div class="item">
          <div class="icon">
            <ion-icon color="primary" name="call"></ion-icon>
          </div>
          <div class="info">
            <ion-text color="dark">
              <p class="title">Contact Number</p>
            </ion-text>
            <ion-text color="dark">
              <p>087 943 8100</p>
            </ion-text>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <ion-icon color="primary" name="call"></ion-icon>
          </div>
          <div class="info">
            <ion-text color="dark">
              <p class="title">Fax</p>
              <p>086 502 3213</p>
            </ion-text>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <ion-icon color="primary" name="send"></ion-icon>
          </div>
          <div class="info">
            <ion-text color="dark">
              <p class="title">Email Address</p>
              <p>admin@joyousradio.co.za</p>
            </ion-text>
          </div>
        </div>
        <div class="item">
          <div class="icon">
            <ion-icon color="primary" name="globe-outline"></ion-icon>
          </div>
          <div class="info">
            <ion-text color="dark">
              <p class="title">Website</p>
              <p>www.joyousradio.co.za</p>
            </ion-text>
          </div>
        </div>
      </div>
      <div class="form">
        <!-- action="https://formspree.io/f/mpzoozvj" method="POST" -->
        <!--  -->
        <form
          [formGroup]="messageForm"
          (ngSubmit)="sendMessage(messageForm.value)"
        >
          <ion-item>
            <ion-label color="dark" position="floating">Full Name</ion-label>
            <ion-input
              formControlName="fullName"
              name="name"
              color="dark"
              type="text"
            ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label color="dark" position="floating">Email</ion-label>
            <ion-input
              formControlName="email"
              name="_replyto"
              color="dark"
              type="email"
            ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label color="dark" position="floating">Subject</ion-label>
            <ion-input
              formControlName="subject"
              color="dark"
              type="text"
            ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label color="dark" position="floating">Message</ion-label>
            <ion-textarea
              formControlName="message"
              rows="14"
              color="dark"
              type="text"
            ></ion-textarea>
          </ion-item>
          <ion-button
            *ngIf="!loading"
            type="submit"
            [disabled]="!messageForm.valid"
            mode="ios"
            expand="block"
            shape="round"
          >
            Send Message
          </ion-button>
          <ion-button *ngIf="loading" disabled="true" mode="ios" expand="block" shape="round">
            <ion-spinner name="bubbles"></ion-spinner>
          </ion-button>
        </form>
      </div>
    </div>

  </div>
  <app-block-quote></app-block-quote>
  <app-footer></app-footer>
</ion-content>
