<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div
    class="overlay"
    [ngClass]="{'overlay-c animate__animated animate__fadeIn': openPreview}"
  >
    <div class="sliders">
      <div class="back" *ngIf="imageIndex != 0" (click)="navigatePictures('b')">
        <ion-button fill="clear">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div
        class="forward"
        *ngIf="imageIndex != gallery.length-1"
        (click)="navigatePictures('f')"
      >
        <ion-button fill="clear">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <div class="close">
        <ion-fab-button
          size="small"
          mode="ios"
          color="light"
          (click)="closePreview()"
        >
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </div>
      <img src="{{viewImage}}" alt="" />
    </div>
  </div>
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20">
    <div class="navigation" [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="" />
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover gallery">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
          style="transform: translateY(-9px)"
        >
          Listen Live
        </ion-button>
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover gallery">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
        >
          Listen Live
        </ion-button>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="text">
      <h1>Our <span>Gallery</span></h1>
      <p>Home > Gallery</p>
    </div>
  </div>
  <div class="body">
    <div class="subHeader">
      <div class="line"></div>
      <p>welcome to</p>
      <div class="line"></div>
    </div>
    <h2>Our <span>Joyous</span> Radio Photo Gallery</h2>
    <div class="pics">
      <div class="img" *ngFor="let g of gallery; let i = index">
        <div class="preview" (click)="previewImage(i)">
          <ion-fab-button>
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </div>
        <img src="{{g}}" alt="" />
      </div>
    </div>
  </div>
  <app-block-quote></app-block-quote>
  <app-footer></app-footer>
</ion-content>
