<div class="bibleQuote">
  <div class="innerContent">
    <div class="innerImg">
      <img src="../../assets/img/JR-light.png" alt="" />
    </div>
    <div class="quote">
      <p class="title">2 Corinthians 9:7 (AMP)</p>
      <p>
        "Let each one give <i> [thoughtfully and with purpose]</i> just as he
        has decided in his heart, not grudgingly or under compulsion, for God
        loves a cheerful giver
        <i>[and delights in the one whose heart is in his gift]</i>."
      </p>
    </div>
  </div>
</div>