<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 20">
    <div class="navigation" [ngClass]="{'light': light, 'none': !light}">
      <div class="logo">
        <img src="../assets/img/JR-stroke.png" routerLink="/home" alt="" />
      </div>
      <div class="menu">
        <ion-button (click)="activateMenu()" fill="clear" color="dark">
          <ion-icon slot="start" name="menu"></ion-icon>
          Menu
        </ion-button>
      </div>
      <div class="links animate__animated animate__fadeInUp">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover donate">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="{{light? 'dark': 'light'}}"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
          style="transform: translateY(-9px)"
        >
          Listen Live
        </ion-button>
      </div>
      <div class="links2" [ngClass]="{'links2Active': menuActive}">
        <div class="linkHover">
          <ion-button
            (click)="onClick('home')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Home
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('about')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            About
          </ion-button>
        </div>
        <div class="linkHover donate">
          <ion-button
            (click)="onClick('donate')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Donate
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('church')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Church
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('gallery')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Gallery
          </ion-button>
        </div>
        <div class="linkHover">
          <ion-button
            (click)="onClick('contact')"
            size="small"
            expand="full"
            color="dark"
            fill="clear"
          >
            Contact Us
          </ion-button>
        </div>
        <ion-button
          (click)="onClick('listen')"
          mode="ios"
          expand="full"
          shape="round"
        >
          Listen Live
        </ion-button>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="text">
      <!-- <h1>Donate</h1> -->
      <p>Home > Donate</p>
    </div>
  </div>
  <div class="ribbon">
    <img src="../../assets/img/ribbon.png" alt="" />
  </div>
  <div class="body">
    <h2><span>Joyous</span> Radio</h2>
    <p>
      Joyous Radio is donor driven and we welcome your financial support. This
      station exists because of the support of the public. We acknowledge and
      appreciate all our partners in all forms. <br />
      We need your support through donations so that we can continue the wonder
      and surprise in the music and local-interest programming that is
      refreshing, engaging, and helps expand perspectives.
    </p>

    <br />
    <br />
    <div class="donation">
      <h2>Donate by Bank Transfer</h2>
      <p>Please make the donation to:</p>
      <div class="bankDetail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p><span>Account Holder: </span>Joyous Radio</p>
      </div>
      <div class="bankDetail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p><span>Bank Name: </span>First National Bank (FNB)</p>
      </div>
      <div class="bankDetail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p><span>Account Number: </span>62872008216</p>
      </div>
      <div class="bankDetail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p><span>Branch Code: </span>250 655</p>
      </div>
      <div class="bankDetail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p><span>FNB SWIFT Code: </span>FIRNZAJJ</p>
      </div>
      <p><b>Please include the reference “DONATION”</b></p>
    </div>
    <p>
      Faithful people find a way to remain faithful. In these challenging times
      Christians need to find a way to remain faithful in their giving
      responsibility to the Lord and their church in order that their church’s
      mission would thrive and not suffer.
    </p>
  </div>
  <app-block-quote></app-block-quote>
  <app-footer> </app-footer>
</ion-content>
